<mat-form-field class="label">
  <mat-label class="label">{{inputLabel}}</mat-label>
  <input [type]="inputType" matInput [placeholder]="inputPlaceholder" [formControl]="formControlReference">

</mat-form-field>
<div *ngIf="formControlRef.dirty || formControlRef.touched" class="error">
  <div *ngIf="formControlRef?.hasError('required')
  ">
    Field is required!
  </div>
  <div *ngIf="formControlRef?.hasError('minlength')
  ">
  Field must be a minimum of {{formControlRef?.errors?.['minlength']?.['requiredLength']}} characters
  </div>
  <div *ngIf="formControlRef?.hasError('maxlength')
">
    Field must be at max {{formControlRef?.errors?.['maxlength']?.['requiredLength']}} characters
  </div>
  <div *ngIf="formControlRef?.hasError('email')
">
    Field must be provide a valid email address.
  </div>
  <div *ngIf="formControlRef?.hasError('pattern')
">
    Pattern doesn't match!!
  </div>
</div>
