:host{
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  .container{
    width: 700px;
    background-color: #aea5a557;
    padding: 3rem 1rem;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}

  mat-form-field{
    width: 300px;
  }

  button:disabled{
    background-color: rgb(158 59 37 / 59%);
  }
}


