<div >
  <h1>Login to enter the website</h1>
  <div class="container">
    <form [formGroup]="form">
      <div>
        <mat-form-field class="label">
          <mat-label  class="labell">Enter your username/email</mat-label>
          <input matInput placeholder="username/pat@example.com" formControlName="username">
          <!-- <mat-error *ngIf="usernameControl.hasError">{{'Campo invalido'}}</mat-error> -->
          <div *ngIf="usernameControl?.errors?.['maxlength']">
            Name can be max 10 characters long.
             </div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input type="password" matInput placeholder="********" formControlName="password">
          <!-- <mat-error *ngIf="username.invalid">{{'Campo invalido'}}</mat-error> -->
        </mat-form-field>
      </div>
      <button [disabled]="form.invalid" (click)="onSubmit()" mat-raised-button color="warn">login</button>
      <button class="logout-btn" mat-raised-button color="warn">logout</button>
    </form>
  </div>

</div>

<!-- DEBUG ERRORS -->
<!-- {{form.get('username')?.errors | json }}
{{form.get('password')?.hasError('requiredLength') | json}}
{{form.value.password | json}} -->
