<div >
  <h1>Login to enter the website</h1>
  <div class="container">
    <form [formGroup]="form">
      <div>
        <app-simple-input [inputType]="'text'" [inputLabel]="'username'" [inputPlaceholder]="'insert here name or email'" [formControlReference]="form.get('username')" ></app-simple-input>
      </div>
      <div>
        <app-simple-input [inputType]="'password'" [inputLabel]="'password'" [inputPlaceholder]="'insert here password'" [formControlReference]="form.get('password')" ></app-simple-input>
      </div>
      <button [disabled]="form.invalid" (click)="onSubmit()" mat-raised-button color="warn">login</button>
    </form>
  </div>

</div>

<app-toast></app-toast>

<!-- DEBUG ERRORS -->
<!-- <div>
  Errors username: {{form.get('username')?.errors | json }}

</div> -->
<!-- {{form.get('password')?.hasError('requiredLength') | json}}
{{form.value.password | json}} -->
