<div >
  <h1>Login to enter the website</h1>
  <div class="container">
    <form [formGroup]="form">
      <div>
        <mat-form-field class="label">
          <mat-label  class="label">Enter your username/email</mat-label>
          <input matInput placeholder="username/pat@example.com" formControlName="username">

          <!-- <mat-error *ngIf="usernameControl.hasError">{{'Campo invalido'}}</mat-error> -->
        </mat-form-field>
      </div>
      <div *ngIf="form?.get('username')?.hasError('minlength')
      ">
        Username must be at least 5 characters long.
         </div>
         <div *ngIf="form?.get('username')?.hasError('maxlength')
         ">
           Username must be maximum 5 characters long.
            </div>
      <div>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input type="password" matInput placeholder="********" formControlName="password">
          <!-- <mat-error *ngIf="username.invalid">{{'Campo invalido'}}</mat-error> -->
        </mat-form-field>
      </div>
      <button [disabled]="form.invalid" (click)="onSubmit()" mat-raised-button color="warn">login</button>
      <button (click)="logout()" class="logout-btn" mat-raised-button color="warn">logout</button>
    </form>
  </div>

</div>

<app-toast></app-toast>

<!-- DEBUG ERRORS -->
<!-- <div>
  Errors username: {{form.get('username')?.errors | json }}

</div> -->
<!-- {{form.get('password')?.hasError('requiredLength') | json}}
{{form.value.password | json}} -->
